*{
    box-sizing: border-box;
    background-color: rgb(234, 234, 234);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.title{
    color: black;
    text-decoration: underline;
    text-align: center;
    margin: 0;
    padding: 1%;
    margin: 0 40% 0 40%;
    border: solid 8px black;
}

.pestoimg{
    width: 400px;
    height: auto;
}
